<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'homepage.css' %}">
<script src="{% static 'pageswitch.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>

  <div class="form-container">

      <div class="div-1">
          <div class="1.0" style="text-align: center">
              Connect and Control
          </div>
      </div>

  <div class="div-2">

    <div class="div-3">
      <div class="div-4">You are a?</div>
      <div class="div-5" id="admin" style="margin: auto auto" onclick="switchToPage3()">School Head</div>
      <div class="div-6" id="staff" style="margin: auto auto" onclick="switchToPage2()">Staff</div>
      <div class="div-7" id="parent" style="margin: auto auto" onclick="switchToPage1()">Parent</div>
    </div>

  </div>

</div>

</body>
</html>


