<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Schoolregisterview.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SchoolRegister</title>
</head>
<body>
    <form class="SchoolRegister" method="post" action="{% url 'schoolregisterlink' %}">
        <div class="SchoolRegisterForm">

         <div class="schoolname">
             <label for="schoolname">Enter SchoolName</label>
             <input type="text" id="schoolname" name="schoolname">
         </div>

        <div class="SchoolRegister_email">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>

       <div class="schoolestab">
             <label for="schoolestab">Enter Date of establishment</label>
             <input type="date" id="schoolestab" name="schoolestab">
         </div>

        <div class="SchoolRegister_state">
            <label for="state" class="form-label">State</label>
            <select id="state" name="state">
                <option value="1">Choose...</option>
                <option></option>
            </select>
        </div>

        <div class="SchoolRegister_district">
            <label for="district" class="form-label">District</label>
            <input type="text" class="form-control" id="district" name="district">
        </div>

              <div class="locality">
          <label for="locality" class="form-label">Locality</label>
          <input type="text" class="form-control" id="locality" name="locality">
        </div>


        <div class="SchoolRegister_pincode">
          <label for="pincode" class="form-label">Pincode</label>
          <input type="text" class="form-control" id="pincode" name="pincode">
        </div>


        <div class="submitschoolform">
          <button type="submit" class="submitschoolform">Sign in</button>
        </div>
    </div>
      </form>
</body>
</html>