<!DOCTYPE html>
<html lang="en">
  {% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{% static 'staffview.css' %}">
  <title>Document</title>
</head>
<body>
  <!--Navbar-->
 <div id="navbar-container">
   {% include 'StaffNavbar.html' %}
 </div>
<!--NavbarClosed-->

  <div class="div">

    <!--ProfileDivision-->
    <div class="div-2">
      <div class="profilecontainer">
        <div class="profilepic">
          <img src="{% static 'random.jpg' %}" alt="profile"
            loading="lazy"
            class="img"
          />
        </div>
        <div class="profiledetailscontainer">
          <div class="profiledetails">
            Name -
            <span style="font-weight: 500">Karan</span>
            <br />
            ID -
            <span style="font-weight: 500">12205071</span>
            <br />
            Position -
            <span style="font-weight: 500">Manager</span>
          </div>
        </div>
      </div>
    </div>

  </div>

<!--ClassShcedule table for the current day. the table will have colmns like subjectname, time , date which will span all rows
sectionname, room-no, attendance status-->
    <div class="div-3">
        <div class="tablecontainer">
        <table class="table">
            <tr>
            <th>Subject Name</th>
            <th>Time</th>
            <th>Date</th>
            <th>Section Name</th>
            <th>Room No</th>
            <th>Attendance Status</th>
            </tr>
            <tr>
            <td>Maths</td>
            <td>10:00-11:00</td>
            <td>12/12/2021</td>
            <td>A</td>
            <td>101</td>
            <td>Present</td>
            </tr>
            <tr>
            <td>Science</td>
            <td>11:00-12:00</td>
            <td>12/12/2021</td>
            <td>B</td>
            <td>102</td>
            <td>Absent</td>
            </tr>
            <tr>
            <td>English</td>
            <td>12:00-1:00</td>
            <td>12/12/2021</td>
            <td>C</td>
            <td>103</td>
            <td>Present</td>
            </tr>
        </table>
        </div>
    </div>
  <div class="dashborad-container-carousel">
  <div class="dashborad-container"><!--Dashboard-->
    <div class="card1">
    <div class="card" style="width: 18rem;">
  <img src="{% static 'random.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div><!--card1-->

    <div class="card2">
        <div class="card" style="width: 18rem;">
  <img src="{% static 'random.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div><!--card2-->

    <div class="card3">
        <div class="card" style="width: 18rem;">
    <img src="{% static 'random.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title
        ">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    </div><!--card3-->

    <div class="card4">
        <div class="card" style="width: 18rem;">
    <img src="{% static 'random.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title
        ">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    </div><!--card4-->


</div><!--Dashboard-->
  </div>
<style>
  .tablecontainer{
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
  }
  .dashborad-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
  }

</style>





</body>
</html>