<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'adminsignmethod.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="logincontainer">
      <div class="inputfields">
        <input class="input-field" type="text" placeholder="Username" aria-label="Username" id="username" name="username">
        <input class="input-field" type="password" placeholder="Password" aria-label="Password" id="password" name="password">
      </div>
        <div class="registration-link">
          Are you new to registration?
          <a href="http://127.0.0.1:8000/#" target="_blank">Click here</a>
        </div>
        <div class="regibutton">
        <button class="login-button">LOGIN</button>
        </div>
    </div>
</body>
</html>
