<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>interviewRequests</title>
</head>
<body>
      <table>
        <tr>
            <th>Applicant Name</th>
            <th>Applicant PPhoto</th>
            <th>Applicant AdhPhoto</th>
            <th>Applicant Qualification</th>
            <th>Qualification Certificate</th>
            <th>Address</th>
            <th>Application Date</th>
            <th>Application Status</th>
        </tr>
        {% for applicant in teachers %}
        <tr>
            <td>{{applicant.name}}</td>
            <td><img src="#" alt="PassportPhoto" style="width: 100px; height: 100px;"></td>
            <td><img src="#" alt="AdharPhoto" style="width: 100px; height: 100px;"></td>
            <td>{{applicant.qualification}}</td>
            <td><img src="#" alt="QualificationCertificate" style="width: 100px; height: 100px;"></td>
            <td>{{applicant.state}},{{applicant.city}}</td>
            <td>{{application_date}}</td>
            <td><button type="button">{{applicant.registered_staff}}</button></td>
        </tr>
        {% endfor %}
      </table>
<style>
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        border: 3px solid black;
        width: 100%;
    }

    td, th {
        border: 2px solid blue;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

</style>
</body>
</html>