 .div {
    disply: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 616px;
    height:590px;
    font-size: 22px;
    color: #000;
    font-weight: 700;
    padding: 80px 60px;
  }
  @media (max-width: 991px) {
    .div {
      padding: 0 20px;
    }
  }
  .img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-2 {
    position: relative;
    border-radius: 30px;
    background: linear-gradient(0deg, #0babc1 0%, #0babc1 100%), #fff;
    display: flex;
    width: 601px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin: 76px 61px 0 0;
    padding: 76px 60px;
  }
  @media (max-width: 991px) {
    .div-2 {
      margin: 40px 10px 0 0;
      padding: 0 20px;
    }
  }
  .div-3 {
    display: flex;
    margin-top: 17px;
    width: 450px;
    max-width: 100%;
    flex-direction: column;
  }
  .div-4 {
    font-family: Inter, sans-serif;
    justify-content: center;
    align-self: center;
    color: #fff;
  }
  .div-5 {
    font-family: Inter, sans-serif;
    border-radius: 20px;
    background-color: #d9d9d9;
    margin-top: 56px;
    align-items: center;
    justify-content: center;
    padding: 21px 60px;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-6 {
    font-family: Inter, sans-serif;
    border-radius: 20px;
    background-color: #d9d9d9;
    margin-top: 29px;
    align-items: center;
    padding: 27px 60px 15px;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-7 {
    font-family: Inter, sans-serif;
    border-radius: 20px;
    background-color: #d9d9d9;
    margin-top: 29px;
    align-items: center;
    justify-content: center;
    padding: 21px 60px 21px 73px;
  }
  @media (max-width: 991px) {
    .div-7 {
      max-width: 100%;
      padding: 0 20px;
    }
  }