@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
body{
    background-color: rgb(199, 231, 231);
}
.topImage {
    border: transparent;
    height: 55vh;
    width: 100%;
    z-index: 1;
}
.topImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.tagline{
    color: #000;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tagline h4 {
    font-style: italic;
    font-size: 40px;
    color: #1e347b;
}
@media (max-width: 400px) {
    .tagline h4 {
        font-size: 20px;
    }
}
.featureCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto auto;
}
@media (max-width: 400px) {
   .featureCard{
       flex-direction: column;
       width: 50%;
   }
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18rem;
    border-color: blue;
    background-color: gray;

}

@media (max-width:400px) {
    .card {
        width: 9rem;
        height: 9rem;
        margin-bottom: 5%;
    }
}

.card svg {
    margin-bottom: 1rem; /* Optional: Add some space between the SVG and the card body */
}

.card-body {
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
* {
    box-sizing: border-box;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 60%;
    font-size: 22px;
    color: #000;
    font-weight: 700;
    padding: 10px 10px;
    margin: auto auto;
}
@media (max-width: 991px) {
    .div {
        padding: 0 20px;
    }
}
.img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.regParent{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;

}

.registrationForm{
    border-radius: 2px;
    background: rgb(180, 226, 236);
    height: 70%;
    width: 40%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
    position: relative; /* Add this line */
}

.registrationForm .close_button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.registrationForm .close_button button {
    background: none; /* Remove background color */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Change cursor to pointer */
}

@media (max-width: 400px) {
    .registrationForm{
        height: 50%;
        width: 50%;
    }
}
.div-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}
@media (max-width: 991px) {
    .div-3 {
        width: 100%;
    }
}


.option-button {
    font-family: Inter, sans-serif;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(52, 147, 145) 0%, rgba(9,121,118,1) 35%, rgb(5, 130, 156) 100%);
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    text-align: center;
    font-size: 15px;
    width: 50%;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.option-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.option-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.div-1 {
    width: 100%;
    font-size: 40px;
}
.first-options button {
    background: linear-gradient(90deg, rgb(52, 147, 145) 0%, rgba(9,121,118,1) 35%, rgb(5, 130, 156) 100%);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
.first-options button:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.first-options button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}