  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.SchoolRegister {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #5894d8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.SchoolRegisterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.schoolDetails, .addressDetails {
    flex: 1;
    margin-right: 10px;
}

.SchoolRegister .form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.SchoolRegister .form-control:hover {
    border-color: #007bff;
}

.submitschoolform {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}