.div {
  display: flex;
  flex-direction: column;
  
}
.div-2 {
  align-self: center;
  width: 100%;
  max-width: 908px;
}
@media (max-width: 95%) {
  .div-2 {
    max-width: 100%;
  }
}
.profilecontainer {
  gap: 20px;
  display: flex;
}
@media (max-width: 95%) {
  .profilecontainer{
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.profilepic {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 0px;
}
@media (max-width: 95%) {
  .profilepic{
    width: 100%;
  }
}
.img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 210px;
  max-width: 100%;
  border: transparent;
  border-radius: 120px;
}
@media (max-width: 95%) {
  .img {
    margin-top: 40px;
  }
}
.profiledetailscontainer {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 75%;
  margin-left: 20px;
  
}
@media (max-width: 95%) {
  .profiledetailscontainer {
    width: 100%;
  }
}
.profiledetails {
  border-radius: 0px 0px 200px 0px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #b2f1ff 100%);
  align-self: stretch;
  align-items: start;
  color: #000;
  justify-content: center;
  width: 100%;
  margin: auto 0;
  padding: 43px 60px;
  font: 700 15px Inter, sans-serif;
}
@media (max-width: 95%) {
  .profiledetails {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.RoutineHeader {
  box-shadow: 2px 2px 25px 0px rgba(0, 117, 255, 0.25);
  background-color: #b3f1ff;
  display: flex;
  margin-top: 36px;
  width: 100%;
  gap: 0px;
  font-size: 32px;
  font-weight: 700;
  padding: 14px 13px;
}
@media (max-width: 95%) {
  .RoutineHeader {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-6 {
  font-family: Inter, sans-serif;
  background-color: #0075ff;
  align-items: start;
  color: #fff;
  white-space: nowrap;
  justify-content: center;
  flex-grow: 1;
  width: fit-content;
  padding: 20px 22px;
}
@media (max-width: 95%) {
  .div-6 {
    max-width: 100%;
    white-space: initial;
    padding: 0 20px;
  }
}
.div-7 {
  font-family: Inter, sans-serif;
  border-color: rgba(0, 117, 255, 1);
  border-style: solid;
  border-width: 5px;
  align-items: start;
  color: #0075ff;
  justify-content: center;
  flex-grow: 1;
  width: fit-content;
  padding: 18px 22px;
}
@media (max-width: 95%) {
  .div-7 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.ClassRoutineDivision {
  background: linear-gradient(90deg, #0075ff 0%, #b3f1ff 100%);
  box-shadow: 2px 2px 25px 0px rgba(0, 117, 255, 0.25);
  display: flex;
  margin-top: 37px;
  width: 100%;
  flex-direction: column;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  white-space: nowrap;
  padding: 11px 14px;
}
@media (max-width: 95%) {
  .ClassRoutineDivision {
    max-width: 100%;
    white-space: initial;
  }
}
.RoutineRow1 {
  display: flex;
  gap: 14px;
}
@media (max-width: 95%) {
  .RoutineRow1 {
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div-10 {
  border-radius: 7px;
  border-color: rgba(0, 117, 255, 1);
  border-style: dashed;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0.68);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex: 1;
  flex-grow: 1;
  flex-basis: auto;
  padding: 24px 20px;
}
@media (max-width: 95%) {
  .div-10 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div-11 {
  font-family: Inter, sans-serif;
}
.div-12 {
  font-family: Inter, sans-serif;
}
.div-13 {
  font-family: Inter, sans-serif;
}
.div-14 {
  border-radius: 7px;
  border-color: rgba(0, 117, 255, 1);
  border-style: dashed;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0.68);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex: 1;
  flex-grow: 1;
  flex-basis: auto;
  padding: 24px 19px;
}
@media (max-width: 95%) {
  .div-14 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div-15 {
  font-family: Inter, sans-serif;
}
.div-16 {
  font-family: Inter, sans-serif;
}
.div-17 {
  font-family: Inter, sans-serif;
}
.RoutineRow2 {
  display: flex;
  margin-top: 14px;
  gap: 14px;
}
@media (max-width: 95%) {
  .RoutineRow2 {
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div-19 {
  border-radius: 7px;
  border-color: rgba(0, 117, 255, 1);
  border-style: dashed;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0.68);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex: 1;
  flex-grow: 1;
  flex-basis: auto;
  padding: 25px 20px;
}
@media (max-width: 95%) {
  .div-19 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div-20 {
  font-family: Inter, sans-serif;
}
.div-21 {
  font-family: Inter, sans-serif;
}
.div-22 {
  font-family: Inter, sans-serif;
}
.div-23 {
  border-radius: 7px;
  border-color: rgba(0, 117, 255, 1);
  border-style: dashed;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0.68);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex: 1;
  flex-grow: 1;
  flex-basis: auto;
  padding: 25px 19px;
}
@media (max-width: 95%) {
  .div-23 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div-24 {
  font-family: Inter, sans-serif;
}
.div-25 {
  font-family: Inter, sans-serif;
}
.div-26 {
  font-family: Inter, sans-serif;
}
.RoutineRow3 {
  display: flex;
  margin-top: 14px;
  gap: 14px;
}
@media (max-width: 95%) {
  .RoutineRow3 {
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div-28 {
  border-radius: 7px;
  border-color: rgba(0, 117, 255, 1);
  border-style: dashed;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0.68);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex: 1;
  flex-grow: 1;
  flex-basis: auto;
  padding: 24px 20px;
}
@media (max-width: 95%) {
  .div-28 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div-29 {
  font-family: Inter, sans-serif;
}
.div-30 {
  font-family: Inter, sans-serif;
}
.div-31 {
  font-family: Inter, sans-serif;
}
.div-32 {
  border-radius: 7px;
  border-color: rgba(0, 117, 255, 1);
  border-style: dashed;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0.68);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex: 1;
  flex-grow: 1;
  flex-basis: auto;
  padding: 24px 19px;
}
@media (max-width: 95%) {
  .div-32 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div-33 {
  font-family: Inter, sans-serif;
}
.div-34 {
  font-family: Inter, sans-serif;
}
.div-35 {
  font-family: Inter, sans-serif;
}
.DashBoardContainer {
  background: linear-gradient(90deg, #0075ff 0%, #b3f1ff 100%);
  box-shadow: 2px 2px 25px 0px rgba(0, 117, 255, 0.25);
  margin-top: 29px;
  width: 100%;
  padding: 18px 14px;
}
@media (max-width: 95%) {
  .DashBoardContainer {
    max-width: 100%;
  }
}
.Dashboard {
  gap: 20px;
  display: flex;
}
@media (max-width: 95%) {
  .Dashboard {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.classmessages {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 95%) {
  .classmessages {
    width: 100%;
  }
}
.div-38 {
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.71);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  width: 100%;
  padding: 13px 60px 80px;
}
@media (max-width: 95%) {
  .div-38 {
    max-width: 100%;
    margin-top: 31px;
    padding: 0 20px;
  }
}
.div-39 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-40 {
  font-family: Inter, sans-serif;
}
.div-41 {
  margin-top: 11px;
  font: 800 24px Inter, sans-serif;
}
.div-42 {
  font-family: Inter, sans-serif;
  align-self: stretch;
  margin-top: 15px;
}
.classtaskmanager {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 95%) {
  .classtaskmanager {
    width: 100%;
  }
}
.div-43 {
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.71);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  width: 100%;
  padding: 13px 49px 80px;
}
@media (max-width: 95%) {
  .div-43 {
    max-width: 100%;
    margin-top: 31px;
    padding: 0 20px;
  }
}
.div-44 {
  font-family: Inter, sans-serif;
}
.div-45 {
  margin-top: 9px;
  font: 800 24px Inter, sans-serif;
}
.div-46 {
  font-family: Inter, sans-serif;
  align-self: stretch;
  margin-top: 15px;
}
@media (max-width: 95%) {
  .div-46 {
    max-width: 100%;
  }
}

.navbar{
  width: ;
}